# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
www/.DS_Store
www/.DS_Store
.DS_Store
filaments/.DS_Store
macros/.DS_Store
macros/System/.DS_Store
macros/System/Calibration/.DS_Store
macros/System/Settings/.DS_Store
macros/System/Settings/Job End/.DS_Store
sys/.DS_Store
www/.DS_Store
.DS_Store
filaments/.DS_Store
firmware/.DS_Store
.DS_Store
macros/.DS_Store
macros/System/.DS_Store
macros/System/Calibration/.DS_Store
www/.DS_Store
.DS_Store
filaments/.DS_Store
macros/.DS_Store
macros/System/.DS_Store
sys/.DS_Store
www/.DS_Store
